.mui-inner-wrap {
  display: flex;
  flex-direction: column; }
  .mui-inner-wrap .mui-content {
    flex: 1;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column; }

header {
  width: 100%;
  height: 100px;
  background: yellow;
  padding: 8px;
  box-sizing: border-box; }
  header .total {
    font-size: 14px; }
    header .total .pay-wrap span {
      font-size: 30px;
      display: block;
      margin: 8px;
      box-sizing: border-box; }
  header .select-time {
    position: absolute;
    top: 10px;
    right: 10px; }
    header .select-time span {
      border: 1px solid black;
      border-radius: 10px;
      font-size: 14px;
      padding: 2px 10px; }

.con-title {
  width: 100%;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }
  .con-title .tab-list {
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden; }
    .con-title .tab-list span {
      font-size: 12px;
      padding: 10px; }
      .con-title .tab-list span.active {
        background: yellow; }

.content {
  width: 100%;
  flex: 1; }
  .content .bill-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
  .content .table-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .content .day-title {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 12px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: white; }
  .content .mui-slider-handle {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.m-title {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px; }
  .m-title span {
    display: block;
    font-size: 12px;
    text-align: center; }
  .m-title li:nth-child(1) span {
    display: inline-block; }

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
  padding-left: 15px; }

.aside {
  background: white;
  padding: 10px; }
  .aside h1 {
    font-size: 18px;
    border-left: 2px solid yellow;
    padding-left: 10px; }
  .aside ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .aside ul li {
      border: 1px solid gray;
      color: gray;
      padding: 2px 6px;
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 50px;
      font-size: 12px; }

.go-bill {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 4px #000;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -40px;
  z-index: 99; }
  .go-bill .mui-icon {
    font-size: 80px; }

.y-bg {
  padding: 10px;
  background: yellow;
  border-radius: 50%; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.red {
  color: red; }

.green {
  color: green; }

.none {
  display: none; }
